footer
  padding: 0 150px
  background-color: var(--dark)
  color: var(--white)

  & .social
    margin-top: 15px
    & a
      font-size: 20px
  & h3,
  & p
    margin-bottom: 20px
.white-space
  white-space: pre

.info a
  display: block
  margin-bottom: 10px
