// _modules.scss
// ============

// Header
// =====================================================

header {
  box-sizing: border-box;
  text-align: center;

  ul {
    margin: 0px;
    padding: 1% 5%;
    list-style: none;
    display: flex;
    li > a {
      transition: all 0.5s cubic-bezier(0, 0, 0, 0.75);
      color: $white;
      font-family: $headFont;
      font-size: 0.85rem;
        &:hover {
        color: $dgrey;
        background-color: $white;
        background-image: url(../img/bg/bg_wavey-neg-v2.gif);
        background-repeat: repeat;
      } //li achor:hover
    } //li anchor
  } //ul

  #logo-svg > path {
    fill: $white;
      &:hover {
        fill: complement($red);
        transform-origin: 50% 80%;
        transform: scale(1, 1.1);
        transition: height .35s ease-in-out;
      } //logo-svg:hover
  } //logo-svg

  a {
    text-decoration: none;
    padding: 0px 5px;
    color: $black;
  } //anchor

  #logo { 
    height: 80px
  } //logo

  .topbar {
    background-color: $red;
    transition: background-image 0.2s ease-in-out;
      &:hover {
        background-image: url(../img/bg/bg_wavey-pos.gif);
        background-repeat: repeat;
      }

    #logo-sell {
      color: $white;
      margin: unset;
      font-size: 0.75rem;
      margin-left: 25rem;
      padding-bottom: 5px;
    } //logo-sell
  } //topbar

  .socialicons {
    background-color: mix($red, $lgrey, 35);

    a {
      &:hover {
        background-color: unset;
        color: $dgrey;
      }
    }

    i {
      font-size: 1.25rem;
    } //i
  } //socialicons

  .sitenav {
    background-color: mix($red, $lgrey, 15);
  } //sitenav

  .editorialnav {
    background-color: mix($red, $lgrey, 5);
  } //editorialnav
} //Header

// Footer
// =====================================================

footer {
  border-top: 5px solid $red;
  background-color: darken($dgrey, 10);
  flex-shrink: 0;
  background-image: url(../img/bg/bg_wavey-pos.png);
  background-repeat: repeat;

  &:hover {
    background-image: url(../img/bg/bg_wavey-pos.gif);
  }

  a {
    color: $white;

    &:hover {
      color: $pink;
    } //a:hover
  } //anchor

  h6 {
    text-align: center;

  }
} //footer