// _modules.scss
// ============

// ads
// =====================================================
.googlead.billboard {
  margin: 20px auto;
} //.googlead.billboard

// Excerpts
// =====================================================
.excerpt-container {
  background-color: $dgrey;
  .copy-container {
    color: $white;
  } //.copy-container
} //.excerpt-container

.excerpt-container-v2 {
  @extends .excerpt-container;
  background-color: darken($white,10);
  .copy-container {
    color: $dgrey;
  } //.copy-container
} //.excerpt-container-v2

.excerpt-container, .excerpt-container-v2 {
  .copy-container {
    text-align: center;
    width: 1200px;
    margin: auto;
    .meta {
      float: left;
      width: 47%;
      text-align: right;
      padding: 20px 0 20px 20px;
      margin-top: 20px;
      .article-author {
        font-weight: lighter;
        a {
          color: lighten($red, 10);
        } //.article-author anchor
      } //.article-author
    } //.meta
    .quote-container {
      float: right;
      width: 47%;
      text-align: left;
      padding: 20px 20px 20px 0;
      .quote {
        // @include font-face(sheldon, "assets/fonts/sheldon");
        // @include font-face(sheldon-feather, "assets/fonts/sheldon/light");
        // @include font-face(sheldon-fly, "assets/fonts/sheldon/thin");
        color: lighten($red, 10);
        font-family: $quoteFont;
      } //.quote
    } //.quote-container
  } //.copy-container
}

// Section Labels
// =====================================================
.section-label {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    h3 {
    color: $white;
    margin: 0;
    float: right;
    padding-right: 23px;
    padding-top: 2px;
    font-size: 1rem;
    } //h3
    div:nth-child(1) {
      background-color: $red;
      width: 250px;
    } //1st square
    div:nth-child(2) {
      background-color: lighten($red, 10);
      width: 23px;
      height: 23px;
      display: inline;
    } //2nd square
    div:nth-child(3) {
      background-color: lighten($red, 20);
      width: 23px;
      height: 23px;
      display: inline;
    } //3rd square
    div:nth-child(4) {
      background-color: lighten($red, 30);
      width: 23px;
      height: 23px;
      display: inline;
    } //4th sqaure
    .view {
      margin-left: auto;
      background-color: lighten($red, 20);
      padding: 4px 5px 3px 5px;
      text-decoration: none;
      font-size: 0.8rem;
      font-family: $headFont;
      color: $white;
        &:hover {
          background-image: url(../img/tom-view.gif);
          background-repeat: no-repeat;
          //background-position: center;
          color: rgba(0, 0, 0, 0);;
        } //view.hover
      } //view
  } //section-label

// Content Cards
// =====================================================
.image-container {
  position: relative;
  height: 250px;
  overflow: hidden;
  img {
  width: 100%;
  } //image-container image
} //image-container
.copy-container {
  height: 80px;
  // max-height: 70px;
  position: relative;
  padding: 5px 10px;
  color: $black;
    a {
      text-decoration: none;
      color: $black;
      &:visited {
        color: $dgrey;
      } //visited
      &:hover {
        color: $peach;
      } //hover
    } //anchors
  .headline-container {
    overflow: hidden;
    height: 50px;
  } //headline-container
  h4.headline {
    font-size: 30px;
    margin: 0;
  } // h4.headline
  .author {
    font-size: 0.75rem;
    position:absolute;
    margin: 0;
    width: 100%;
    h4 {
      color: blue;
      left:0;
      bottom:0;
    } //author h4
  } //author
  i.author {
    display: inline-block;
    color: $red;
  } //i.author
  p.date {
    font-family: $headFont;
    position:absolute;
    bottom:0;
    right:5px;
    margin: 0;
    color: $dgrey;
    font-size: 0.8rem;
  } //p.date
} //.copy-container

// Latest news
// =====================================================
section.latest-news {
  .grid-container {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 25px;
    justify-content: space-around;
    .grid-item {
      // margin: -20px;
      padding-bottom: 5px;
      background-color: darken($white,10);
      width: 340px;
      max-height: 270px;
      .image-container {
        height: 180px;
      } //image-container
      .copy-container {
        height: 80px;
      } //.copy-container
    } //.grid-item
    .grid-item-mpu {
        margin: auto;
        justify-content: space-around;
        position: relative;
        bottom: 7px;
    } //.grid-item-mpu
  } //.grid-container
} //.latest-news


// Features
// =====================================================

.features {
  .item-no-0 {
    grid-area: top;
    // width: 100%;
    .image-container {
      height: 360px;
    } //.image-container
  } //.item-no-0
  .item-no-1 { grid-area: mid-left; }
  .item-no-2 { grid-area: mid-right; }
  .item-no-3 { grid-area: bottom-left; }
  .item-no-4 { grid-area: bottom-right; }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(50%, 50%);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "top top"
      "mid-left mid-right"
      "bottom-left bottom-right";
    grid-gap: 25px;
    margin: 0 auto;
    justify-content: space-around;
    .grid-item {
      padding-bottom: 5px;
      background-color: darken($white,10);
      .image-container {
        img {
          // might have to remove this when we standardise image sizes
          position: absolute;
          bottom: -1rem;
        } // image
      } //.image-container
    } //.grid-item
  } //.grid-container
  .layout {
    padding-bottom: 50px;
  } //.layout
} //.features

// Blogs
// =====================================================

.blogs {
  .item-no-0 { grid-area: top-left; }
  .item-no-1 { grid-area: top-right; }
  .item-no-2 { grid-area: mid-left; }
  .item-no-3 { grid-area: mid-right; }
  .item-no-4 { grid-area: bottom-left; }
  .item-no-5 { grid-area: bottom-right; }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(33.33%);
    grid-auto-rows: minmax(150px);
    grid-template-areas: 
      "top-left top-left top-right"
      "mid-left mid-right mid-right"
      "bottom-left bottom-left bottom-right";
    grid-gap: 25px;
    margin: 0 auto;
    justify-content: space-around;
    .grid-item {
      // margin: -20px;
      padding-bottom: 5px;
      background-color: darken($white,10);
      // width: 340px;
      // max-height: 270px;
      // grid-row: 2;
      // &:first-of-type{
      //   // width: 100%;
      //   grid-row: 1;
      // }
      // .image-container {
      //   img:nth-of-type(odd) {
      //     // might have to remove this when we standardise image sizes
      //     // position: absolute;
      //     // bottom: -1rem;
      //   }
      // }
    } //.grid-item
  } //.grid-container
  .grid-item:nth-of-type(odd) {
    .image-container {
      img {
        // might have to remove this when we standardise image sizes
        position: absolute;
        bottom: -1rem;
      }
    }
  }
  .layout {
    padding-bottom: 50px;
  }
  .author-portrait-container {
    position: absolute;
  }
  .author-portrait {
    position: relative;
    width: 50px;
    border-radius: 50%;
    bottom: 55px;
    left: 7px;
  }
}

// Articles
// =====================================================

article {
  .article-feat-image-container {
    img {
      width: 100%;
    }
  }
  .headline-container {
    height: 10em;
    .headline {
      @include reset
      color: $black;
      font-size: 4rem;
    }
  }
  .author-portrait {
    width: 70px;
    border-radius: 50%;
  }
}