// _variables.scss
// =================
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$red    : #C25359;

$blue	: #C3D1D9;

$peach  : #D9927C;
$cyan   : #37A6A0;
$pink   : #B8808C;

$white  : #EEEDEC;
$lgrey  : #D2D2D2;
$dgrey  : #757561;
$black  : #494946;
 
$headFont : 'Montserrat', sans-serif;
$bodyFont : 'Domine', serif;

$quoteFont: 'sheldon', sans-serif;
$quoteFontLight: 'sheldon-feather', sans-serif;
$quoteFontThin: 'sheldon-fly', sans-serif;