// _variables.scss
// =================
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$white  : #EEEDEC;
$lgrey  : #D2D2D2;
$red    : #C25359;
$dgrey  : #757561;
$black  : #494946;

$peach  : #D9927C;
$cyan   : #37A6A0;
$pink   : #B8808C;

 
$headFont : 'Montserrat', sans-serif;
$bodyFont : 'Domine', serif;

