@import url('https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

:root
  --main: #EE7C6C
  --main-light: #F7B0A6
  --main-dark: #D17466
  --grey: #A3A8B2
  --white: #F4F6F4
  --dark: #41393F
  --brown: #A76F5E
  --purple: #A2818A

  --header: 'Oxygen', sans-serif
  --body: 'Source Sans Pro', sans-serif
