.newsletter-widget
  display: grid
  & span
    display: grid
    grid-gap: 10px
    grid-template-columns: 50px 1fr
  & .button
    display: flex
    align-content: center
    justify-content: center
    margin-top: 10px
  & .button button
    color: var(--white)
    padding: 3px 7px
    border-style: none
    background-color: var(--main)
